<nav [class.scrolled]="scrolled()">
  <a class="brand" href="#hero">
    <span>AixMan</span>
  </a>

  <div class="nav-r">
    <div class="nav-l">
      <a href="#ride" (click)="closeMenu()">{{ langService.t().navCourses }}</a>
      <a href="#infos" (click)="closeMenu()">{{ langService.t().navInfo }}</a>
      <a href="#inscriptions" (click)="closeMenu()">{{ langService.t().navRegister }}</a>
    </div>
    <div class="nav-lang">
      <button [class.on]="langService.lang() === 'fr'" (click)="langService.set('fr')">FR</button>
      <button [class.on]="langService.lang() === 'en'" (click)="langService.set('en')">EN</button>
    </div>
    <a class="btn btn-primary nav-cta" href="#inscriptions">{{ langService.t().navCta }}</a>
    <button class="burger" [class.open]="menuOpen()" (click)="toggleMenu()" aria-label="Menu">
      <i></i><i></i>
    </button>
  </div>
</nav>

<div id="menu" [class.open]="menuOpen()" (click)="onMenuClick($event)">
  <div class="ml">
    <a class="disp" href="#ride" (click)="closeMenu()">{{ langService.t().navCourses }}</a>
    <a class="disp" href="#infos" (click)="closeMenu()">{{ langService.t().navInfo }}</a>
    <a class="disp" href="#inscriptions" (click)="closeMenu()">{{ langService.t().navRegister }}</a>
  </div>
  <a class="btn btn-primary" href="#inscriptions" (click)="closeMenu()">{{ langService.t().navCta }}</a>
</div>
